@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  border: 2px solid #ebeaea;
  padding: 20px 30px;
  width: 480px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 15px;
  position: relative;
}
.form-control label {
  display: block;
  font-size: 1.3rem;
  color: grey;
}
.form-control input {
  display: block;
  width: 100%;
  padding: 10px;
}
.form-control input:focus {
  outline: none;
  border-color: grey;
}
button {
  display: block;
  padding: 10px;
  width: 100%;
  background-color: rgb(93, 179, 93);
  border: 1px solid rgb(93, 179, 93);
  color: white;
}
button:hover {
  display: block;
  padding: 10px;
  width: 100%;
  background-color: rgb(26, 136, 26);
  border: 1px solid rgb(71, 149, 71);
  color: white;
  transition-duration: 0.5s;
}
.form-control small {
  color: rgb(230, 73, 73);
  position: absolute;
  left: 0;
  bottom: 0;
  visibility: hidden;
}
.form-control.success input {
  border: 2px solid rgb(48, 241, 48);
}
.form-control.error input {
  border: 2px solid rgb(230, 73, 73);
}
.form-control.error small {
  visibility: visible;
  color: rgb(230, 73, 73);
}
